<mat-card style="max-width: 1001px;margin: 20px auto;padding: 20px;">
    <mat-card-header>
        <mat-card-title>
            <p>Lista de Hijos</p>
            <p>De: {{nombrePadre}}</p>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content style="margin-left: auto; margin-bottom: 20px;">
        <button mat-flat-button color="primary" (click)="openDialogCrear()">Crear Hijo</button>
    </mat-card-content>


    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z3"  style="margin-top: 20px;">

 

        <!-- Position Column -->
        <ng-container matColumnDef="idHijo">
            <mat-header-cell class="smallColumn" *matHeaderCellDef>Nro.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idHijo}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombreCompleto">
            <mat-header-cell *matHeaderCellDef>Nombres Completos</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombreCompleto}}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="idTipoDoc">
            <mat-header-cell *matHeaderCellDef>T.Documento</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @switch(element.idTipoDoc){
                    @case (1) {
                        DNI
                    }
                    @case (2) {
                        C.EXT
                    }
                    @default {
                        PASP
                    }
                }
            </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="numeroDoc">
            <mat-header-cell *matHeaderCellDef>Nro.Documento</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numeroDoc}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaNac">
            <mat-header-cell *matHeaderCellDef>F.Nacimiento</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fechaNac.split(' ')[0]}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Editar">
            <mat-header-cell class="smallColumn" *matHeaderCellDef>Editar</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="link" (click)="openDialogEditar(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>  

        <!-- Symbol Column -->
        <ng-container matColumnDef="Eliminar">
            <mat-header-cell class="smallColumn" *matHeaderCellDef>Eliminar</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="warn" (click)="eliminar(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>  
        @if (hayDatos) {
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        }
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    @if (!hayDatos) {
        <p>No hay datos</p>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>