<div class="container">   
    <mat-card class="example-card">
        <img mat-card-image src="https://th.bing.com/th/id/OIP.baji-kSHSbLhESo69nBibwHaCm?rs=1&pid=ImgDetMain" alt="LogoInicio">
        <mat-card-content>
        <p>¡Bienvenido Usuario!</p>
        <p>Selecciona <span>'Ingresar'</span> para comenzar.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary">INGRESAR</button>
        </mat-card-actions>
    </mat-card>

    

</div>